export(.onLoad)
export(getWebsite)
export(getGPL)
export(getANN)
export(getClinical)
export(getZscore)
export(scRead10X)
export(scQC)
export(scPipeline)
export(getUMAP)
export(getMarkers)
export(getplot)
export(getMerge)
import(data.table)
import(tidyverse)
import(randomcoloR)
import(ggplot2)
import(ggrepel)

