export(.onLoad)
export(getWebsite)
export(getGPL)
export(getANN)
export(getClinical)
export(getZscore)
export(scRead10X)
export(scQC)
export(scPipeline)
export(getUMAP)
export(getMarkers)
export(getplot)
export(getMerge)
export(getMerge2)
export(getGEO)
export(getGEOs)
export(row_merge)
export(row_same)
export(`%!in%`)
export(col_merge)
export(col_same)
export(write_txt)
export(write_csv)
export(read_txt_charactor)
export(read_txt_numeric)
import(tidyverse)
import(randomcoloR)
import(ggplot2)
import(ggrepel)

