export(.onLoad)
export(getWebsite)
export(getGPL)
export(getANN)
export(getClinical)
export(getZscore)
export(scRead10X)
export(scQC)
export(scPipeline)
export(getUMAP)
export(getMarkers)
export(getplot)
export(getMerge)
export(getMerge2)
export(getGEO)
export(getGEOs)
export(getUMAP)
export(`%!in%`)
export(getPanRNA)
export(getPansample)
export(getPanGeneZscore)
export(getPanGeneZscore_SingleCancer)
export(getPanGeneTime)
export(getPanGeneTime_SingleCancer)
export(getPanGeneExp)
export(getPanGeneExp_SingleCancer)
export(getscRNA)
export(getRNA)
export(getRNA_GEO_Tumor)
export(getstRNA)
export(getProtein)
export(getProteinImpute)
export(getZscore)
export(getZscore_col)
export(getscTumor)
export(getTime)
export(getForest)
export(getForest_rbind)
export(getunicox)
export(getmulticox)
export(getRNAmultigene)
export(getsurvival)
export(getsurvivalfilter)
export(getmerge_row)
export(getwilcoxonggplot2_another_two)
export(getwilcoxonggplot2_another)
export(getwilcoxonggplot2_next)
export(getwilcoxonggplot2)
export(getkruskalggplot2)
export(getkruskalggplot2_next)
export(getgenepaired)
export(getscRNAGeneExp)
export(getstRNAGeneExp)
export(getscRNAVlnPlot)
export(getQ1Q2Q3Q4)
export(getstrsplit)
export(getfilenames)
export(getfilenames_next_step)
export(getkmplot)
export(getkmplot_OS_Month)
export(getkmplot_OS_Month_external)
export(getkmplot_DSS_Month)
export(getkmplot_DSS_Month_external)
export(getkmplot_PFI_Month)
export(getkmplot_PFS_Month_external)
export(getkmplot_DFI_Month)
export(getkmplot_DFS_Month_external)
export(getkmplot_RFS_Month_external)
export(getkmplot_quantile)
export(getlimmadegs_gene)
export(getlimmadegs_gene_new)
export(getlimmadegs_gene_fgsea)
export(getlimmadegs_gene_GSEA)
export(getlimmadegs_gene_GSEA_customized)
export(getcortest_scatter)
export(getcortest_fisher)
export(get2varibles_mean)
export(get2varibles_mean_external)
export(get2varibles_median)
export(get2varibles_median_external)
export(getChisqProportion_OS)
export(getChisqProportion_PFS)
export(getChisqProportion_RFS)
export(getChisqProportion_DFS)
export(getChisqProportion_DSS)
export(getlist2dataframe)
export(getgmt2list)
export(getkegggseaplot)
export(getspearman_cor1)
import(tidyverse)
import(randomcoloR)
import(ggplot2)
import(ggrepel)

